body{
    background-color: black;
}

h1{
    color: blanchedalmond;
    font-size: 60px;
    text-align: center;
    position: relative;
}

.titreFond{
    background-color: red;
    height: 100;
    width: 100%;
}